body{
    zoom: 1;
    transform: scale(1.0);
    transform-origin: 0 0;
    background: black;
}

.wrapper{
    opacity: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto;
    overflow-x: hidden;
    position: relative;
    box-sizing: content-box;
    padding: 0px;
    background: #393834;
    min-height: 1080px;
    height: 6000px;
    color: #fcebd1;
}

.main-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 5%;
}

.nav-button{
    width: 20%;
    margin: 0 5%;
    padding: 0 5%;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.nav-button:hover{
    box-shadow: 0px 2px 5px 1px rgb(32, 31, 31);
    background-color:  rgba(52, 50, 51, 1);
    color: #fffdfa;
}

.content{
    width: 800px;
    margin: auto;
    position: relative;
}

.block-one{
    top: 100px;
    width: 400px;
    height: 550px; 
    position: relative;  
    padding: 10px;
}

.text-header{
    width: 400px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
}
.text-sub-header{
    font-size: 28px;
    height: 50px;
    line-height: 50px;
}
.text-paragraph{
    top: 20px;
    font-size: 20px;
    line-height: 30px;
}

.text-block-image{
    position: absolute;
    height: 450px;
    width: 700px;
    right: -800px;
    top: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.5);
    transition: transform 1s;
    will-change: contents;
}
.text-block-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.text-block-image:hover{
    transform: scale(1.1);
}

.block-two{
    position: relative;
    top: 200px;
}

.b2-heading{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.panel-container{
    width: 100%;
    height: 1040px;
    display: flex;
    flex-direction: column;
}

.panel-segment{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.panel{
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.2);
    width: 50%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.25s;
}

.panel:hover{
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.5);
    background-color: #68a5b8;
}
.panel:hover > .panel-img-container{
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.5);
    filter: none;
    opacity: 1;
}

.panel-content{
    height: 100%;
    width: 100%;
}

.panel:hover > .panel-content > .panel-header{
    top: 20%;
}
.panel:hover > .panel-content > .panel-body{
    opacity: 1;
}


.panel-img-container{
    transition: all 1s;
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.2);
    filter: brightness(0.7) contrast(1) sepia(1) hue-rotate(115deg) saturate(1.5);
    opacity: 0.5;
    position: absolute;
    right: -220px;
    width: 600px;
    height: 230px;
}
.panel-img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.panel-img-cont-1{
    top: 100px;
}
.panel-img-cont-2{
    top: 350px;
}
.panel-img-cont-3{
    top: 600px;
}
.panel-img-cont-4{
    top: 850px;
}

.panel-header{
    position: relative;
    font-size: 25px;
    text-align: center;
    overflow-wrap: break-word;
    top: 50%;
    transform: translateY(-50%);
    transition: top 0.25s;
}

.panel-body{
    position: relative;
    top: 15%;
    padding: 10%;
    height: 45%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.25s;
}

.block-three{
    position: relative;
    top: 400px;
}
.b3-heading{
    width: 100%;
    text-align: center;
}

.b3-segment{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}

.b3-segment-content{
    width: 100%;
    height: 100px;
}

.b3-segment-wrapper{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.2);
    transition: all 0.25s;
}

.b3-wrapper-left{
    left: 250px;
}
.b3-wrapper-right{
    position: absolute;
    right: 250px;
    top: 250px;
}
.b3-wrapper-right2{
    top: 550px;
}

.b3-segment-wrapper:hover{
    width: 550px;
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.5);
    background-color: #9da3b4;
}

.b3-segment-wrapper:hover > .b3-body{
    width: 250px;
    opacity: 1;
}

.b3-segment-wrapper:hover > .b3-img-container{
    height: 250px;
    opacity: 1;
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.5);
}

.b3-header{

    width: 300px;
    height: 100%;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
}

.b3-header-left{
    position: absolute;
    left: 0;
}

.b3-header-right{
    position: absolute;
    right: 0;
}

.b3-body{
    width: 0;
    height: 60px;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: all 0.25s;
}

.b3-body-right{
    left: 300px;   
    top: 20px;
    text-align: left;
}

.b3-body-left{
    right: 300px;
    top: 20px;
    text-align: right;
}


.b3-img-container{
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.2);
    opacity: 0.3;
    transition: all 0.25s;
    width: 400px;
    height: 100px;
    position: absolute;
}

.b3-img-container-left{
    left: -420px;
    top: 0px;
}
.b3-img{
    object-fit: cover;
    border-radius: 5px;
}

.b3-img-container-right{
    right: -420px;
    top: 0px;
}

.block-four{
    position: relative;
    top: 800px;
}

.b4-heading{
    text-align: right;
    width: 100%;
    color: red;
}

.b4-h1{
    text-align: right;
    font-weight: bold;
}

.b4-p1{
    text-align: right;
    width: 60%;
    padding-left: 40%;
}

.b4-h2{
    text-align: right;
    margin-top: 100px;
    font-weight: bold;
}

.b4-p2{
    text-align: right;
    width: 60%;
    padding-left: 40%;
    top: 100px;
}

.b4-img-container{
    position: absolute;
    height: 300px;
    width: 600px;
    transition: transform 1s;
}

.b4-img-container:hover{
    transform: scale(1.1);
}

.b4-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(6, 20, 34, 0.5);
}

.b4-c-1{
    top: -30px;
    left: -350px;
}

.b4-c-2{
    top: 380px;
    left: -350px;
}

.block-five{
    position: relative;
    top: 800px;
}

.b5-head{
    margin-top: 100px;
}

.b5-list{
    width: 100%;
    display: flex;
}

.b5-list-item{
    height: 50px;
    width: 25%;
    margin: 1%;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(6, 20, 34, 0.2);
}

.b5-sh{
    text-align: right;
}

.b5-equation{
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.b5-sub{
    text-align: center;
    margin-top: 50px;
}

.subscript{
    font-size: 20px;
    position: relative;
    bottom: -5px;
}
.subscript-small{
    font-size: 10px;
    position: relative;
    bottom: -5px;
}

.superscript{
    font-size: 10px;
    position: relative;
    top: -10px;
}

.b5-sub-equation{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.b5-equation-container{
    width: 50%;
    text-align: center;
}

.b5-equation-name{
    font-size: 15px;
}
.b5-equation-small{
    font-size: 25px;
}

.b5-head-1{
    margin-top: 100px;
}

.b5-sub-1{
    margin-top: 20px;
    text-align: center;
}

.b5-p1{
    margin-top: 50px;
}

.block-six{
    position: relative;
    top: 1000px;
}

.b6-p{
    position: absolute;
    right: 0px;
    width: 400px;
    text-align: right;
}